.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  line-height: 100%;
  padding: 0 15px;
  &-class {
    width: 100%;
    line-height: 100%;
    margin: 0 auto;
    display: flex;
    padding: 24px 0 25px;
    justify-content: space-between;
    align-items: center;
  }
  &-title {
    align-items: center;
    padding: 94px 0px 50px 0px;
  }
}

.page-footer {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  line-height: 100%;
}

