.logo {
  color: #ffffff;
  display: flex;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;

  &:hover,
  &:focus {
    color: $primaryColor;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-light {
    color: $secondaryColorBlack;
  }
  &-dark {
    color: #ffffff;
  }
  &-color {
    color: $primaryColor;
  }
  &-primary {
      color: $secondaryColorBlack;
      display: flex;
      font-family: Raleway;
      font-size: 26px;
      font-weight: 700;
      line-height: 31px;
      letter-spacing: 0.03em;
  }  
}
