.page-header {
  border-bottom: 1px solid #ececec;
  & li {
    list-style-type: none;
  }
}

.header-adress {
  color: #757575;
  justify-content: right;
  display: flex;
  align-items: center;
  color: #757575;
  & > a:last-child {
    margin-left: 50px;
  }    & li {
    column-gap: 30px;
    padding-left: 10px;
    fill: #757575;
    &  :hover,
  & :focus {
    fill: #2196f3;
    color: #2196f3;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }
  }
  
  & ul {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #757575;
  }

  & a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(117, 117, 117, 1);
  }
}
.clients-item {
  margin-left: 30px;
  &-svg {
    margin-right: 10px;
  }
}
.header-navigation {
  display: block;
  justify-content: center;
}
.navi {
  list-style: none;
  display: flex;
  margin-right: 150px;
  & > .navi-item:not(:last-child) {
    margin-right: 46px;
  }
  &-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    position: relative;
    &:hover,
    &:focus {
      color: #2196f3;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:hover::after {
      content: "";
      align-items: center;
      display: inline-block;
      border-radius: 4px;
      width: 100%;
      margin-top: 45px;
      position: absolute;
      left: 0%;
      border-bottom: solid 4px #2196f3;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
.item {
  position: relative;
}
header-contact-link {
  display: flex;
  align-items: center;
}

.active {
  color: #2196f3;
  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    left: 0;
    margin-top: 45px;
    position: absolute;
    border-bottom: solid 4px #2196f3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
